.c-one-season {
	&__popular-wrapper {
		padding: 71px 0 0 0;
		.title-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 41px;
			.c-seasons__header {
				margin-bottom: 0;
			}
			.slick-control__wrapper {
				margin-top: 0;
			}
			@include m(1279) {
				margin-bottom: 34px;
			}
			@include m(1023) {
				display: block;
				margin-bottom: 32px;
				.c-seasons__header {
				    position: absolute;
    				bottom: 169px;
				    left: 50%;
				    transform: translate(-50%,0);
				}
			}
		}
		.banner__wrapper {
			margin: 74px auto 0 auto;
			@include m(1279) {
				margin: 51px auto 0 auto;
			}
			@include m(1023) {
				margin: 92px auto 0 auto;
			}
		}
		.slick-control__wrapper {
			display: flex;
		}
		@include m(1023) {
			padding: 46px 0 0 0;
			position: relative;
		}
		@include m(767) {
			.c-seasons__buttons-wrapper {
				position: relative;
				left: auto;
				bottom: auto;
				transform: none;
			}
		}
	}
	&__wrapper {
		padding: 64px 0 32px 0;
		position: relative;
		margin-top: 80px;
		@include m(1023) {
			margin-top: 0;
		}
		&:before, &:after {
	    	content: '';
	    	display: block;
	    	position: absolute;
	    	z-index: -1;
	    	@include m(767) {
	    		display: none;
	    	}
	    }
	    &:before {
			top: -30px;
			left: 0;
			background-image: url(../../s/images/useful/rec-down-grey.png);
			background-repeat: no-repeat;
			background-size: cover;
			height: 236px;
			width: 246px;
	    }
	    &:after {
	    	top: 0;
	    	right: 0;
	    	background-image: url('../../s/images/useful/rec-top-grey.png');
	    	background-repeat: no-repeat;
	    	background-size: cover;
			height: 585px;
			width: 337px;
	    }
	    @include m(1279) {
	    	padding: 50px 0 38px 0;
	    }
	    @include m(1023) {
	    	padding: 37px 0 0 0;
	    }
	    .c-series-list-item__season {
	    	margin-bottom: 32px;
	    	@include m(1279) {
	    		margin-bottom: 21px;
	    		width: 225px;
	    	}
	    	@include m(1023) {
	    		margin-bottom: 21px;
	    		width: 227px;
	    	}
	    	@include m(767) {
	    		width: 100%;
	    	}
	    }
	}
	&__seasons {
		padding: 56px 0 26px 0;
		@include m(1279) {
			padding: 48px 0 40px 0;
		}
		@include m(1023) {
			padding: 33px 0 9px 0;
			.c-seasons__wrapper {
				margin-bottom: 40px;
			}
		}
	}
	&__header {
		// border: 1px solid red;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 30px;
		@include m(1023) {
			text-align: center;
		}
		.title-big {
			width: 100%;
			margin-bottom: 26px;
			@include m(1279) {
				margin-bottom: 23px;
			}
			@include m(1023) {
				margin-bottom: 3px;
			}
		}
		&-left {
			width: 60%;
			@include m(1279) {
				width: 65%;
			}
			@include m(1023) {
				width: 100%;
				margin-bottom: 15px;
			}
		}
		&-right {
			width: 40%;
			display: flex;
			align-items: flex-start;
			justify-content: flex-end;
			@include m(1279) {
				width: 35%;
			}
			@include m(1023) {
				width: 100%;
				justify-content: center;
			}
		}
	}
	&__other-seasons {
		height: 56px;
		width: 100%;
		background-color: rgba(203, 207, 216, .3);
		display: flex;
		align-items: center;
		justify-content: center;
		&-item {
			font-size: 1.2857rem;
			line-height: 1.7857rem;
			color: $main-color;
			font-weight: 600;
		}
	}
}

.c-one-season__select {
	font-size: 1rem;
		line-height: 1.3571rem;
		color: #16181D;
		text-align: left;
		width: 100%;
		height: 44px;
		border-radius: 22px;
		border: 1px solid rgba(203, 207, 216, 0.5);
		background-color: transparent;
		padding: 0 16px;
		display: inline;
		position: relative;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		z-index: 1;
		&-wrapper {
			display:inline-block;
			min-width: 179px;
			position: relative;
			@include m(767) {
				width: 100%;
			}
			&:after {
				display: block;
				border: none;
				content: '';
				width: 23px;
				height: 12px;
				background-image: url(../../s/images/useful/svg/ic-arrow.svg);
				background-size: 13px;
				background-repeat: no-repeat;
				background-position: left center;
				background-color: transparent;
				position: absolute;
				right: 6px;
				top: 50%;
				z-index: 0;
				margin-top: -6px;
			}
		}
}

.btn:not(:disabled):not(.disabled) {
	@extend .cursor-p;
}