.c-series-list {
	&__wrapper {
		width: 320px;
		&-popular {
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			margin: 0 -15px 0 -15px;
		}
		&-seasons {
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			margin-right: -25px;
			@include m(1279) {
				margin-right: -20px;
				&_unslick {
					margin-right: -20px;
				}
			}
			@include m(1023) {
				margin-right: -16px;
			}
			@include m(767) {
				height: auto;
				margin-right: 0;
				&_unslick {
					width: 100%;
					max-width: 600px;
					margin: 0 auto;
				}
			}
		}
		@include m(1279) {
			width: 342px;
			&-popular {
				margin: 0 -10px 0 -10px;
			}
		}
		@include m(1023) {
			order: 0;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			&-popular {
				margin: 0 -8px 0 -8px;
			}
		}
	}
}
.c-series-list-item {
	&__simple {
		width: 100%;
		display: flex;
		& + .c-series-list-item__simple {
			margin-top: 28px;
		}
		@include m(1279) {
			& + .c-series-list-item__simple {
				margin-top: 21px;
			}
			&:last-of-type {
				display: none;
			}
		}
		@include m(1023) {
			width: 49%;
			flex-shrink: 0;
			flex-wrap: nowrap;
			display: flex;
			margin-bottom: 20px;
			& + .c-series-list-item__simple {
				margin-top: 0;
			}
			&:last-of-type {
				display: flex;
			}
			&:nth-child(2n+2) {
				padding-left: 22px;
			}
		}
		@include m(767) {
			margin-bottom: 17px;
			width: 100%;
			&:nth-child(2n+2) {
				padding-left: 0;
			}
		}
	}
	&__image {
		width: 132px;
		height: 74px;
		border-radius: 4px;
		position: relative;
		display: block;
		font-family: $main-font;
		margin-right: 12px;
		img {
			border-radius: inherit;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.icon-play-control {
			font-size: 3.214rem;
		}
		&:hover {
			.icon-play-control {
				opacity: 1;
			}
		}
	}
	&__duration {
		position: absolute;
		bottom: 4px;
		right: 4px;
		background-color: rgba(0,0,0,.7);
		border-radius: 2px;
		font-size: 10px;
		line-height: 1rem;
		color: $white;
		display: inline-block;
		padding: 2px 4px 2px 4px;
		font-family: $main-font;
	}
	&__info {
		width: calc(100% - 144px);
		margin-top: 2px;
		&-name {
			font-size: 0.85714rem;
			line-height: 1.15rem;
			color: $main-color;
			font-family: $main-font;
			font-weight: 600;
			display: block;
			margin-bottom: 4px;
			transition: $transition_duration $transition_type;
			&:hover {
				color: $main-blue;
			}
		}
		&-description {
			color: $dark-grey;
			opacity: 0.5;
			font-size: 12px;
			line-height: 1.1428rem;
			font-family: $main-font;
			font-weight: 400;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		    overflow: hidden;
		    display: block;
		    margin-top: 10px;
		}
		&-tag {
			color: $dark-grey;
			font-size: 0.8571rem;
			line-height: 1.1428rem;
			display: flex;
			align-items: center;
			font-family: $main-font;
			& + .c-series-list-item__info-tag {
				margin-left: 14px;
				@include m(1023) {
					margin-left: 11px;
				}
			}
			&__wrapper {
				display: flex;
				align-items: center;
				margin-top: 6px;
			}
			.icon {
				color: $main-grey;
			}
			.icon-calendar {
				font-size: 12px;
				margin: 0 7px 0 2px;
			}
			.icon-views {
				font-size: 10.67px;
				margin: 0 6px 0 0;
			}
		}
	}
	&__popular {
		width: 255px;
		height: 255px;
		margin: 0 15px 30px 15px;
		background-color: #262A35;
		border-radius: 4px;
		@include m(1279) {
			width: 225px;
			height: 239px;
			margin: 0 10px 20px 10px;
		}
		@include m(1023) {
			width: 228px;
			height: 239px;
			margin: 0 8px 16px 8px;
		}
		.c-series-list-item__image {
			width: 100%;
			height: 143px;
			border-radius: 0;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			img {
				border-radius: 0;
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			@include m(1279) {
				height: 127px;
			}
		}
		.c-series-list-item__duration {
			right: 8px;
			bottom: 8px;
			padding: 3px 4px 2px 4px;
		}
		.icon-play-control {
			font-size: 64px;
		}
		.c-series-list-item__info {
			width: 100%;
			padding: 8px 12px 15px 12px;
			&-name {
				font-size: 1rem;
				line-height: 1.3571rem;
				color: $white;
				font-family: $main-font;
				font-weight: 400;
				display: block;
				height: auto;
				max-height: 40px;
				overflow: hidden;
				margin-bottom: 4px;
				transition: $transition_duration $transition_type;
				margin: 0 0 8px 0;
				&:hover {
					opacity: 0.5;
				}
			}
			&-tag {
				color: $dark-grey;
				.icon {
					color: $dark-grey;
				}
				.tag-date {
					position: relative;
					&:before {
						width: 12px;
						height: 12px;
					}
				}
				.tag-views {
					position: relative;
					&:before {
						width: 10px;
						height: 10px;
					}
				}
			}
		}
	}
	&__season {
		width: 202px;
		height: 220px;
		margin-right: 25px;
		&:after {
			display: table;
			clear: both;
			height: 0;
			content: '';
		}
		@include m(1279) {
			width: 229px;
			margin-right: 20px;
		}
		@include m(1023) {
			width: 232px;
			margin-right: 16px;
		}
		@include m(767) {
			width: 400px;
			margin: 0 auto;
			height: 74px;
			margin-right: 0;
			margin-bottom: 2px;
		}
		.c-series-list-item__image {
			width: 100%;
			height: 114px;
			border-radius: 4px;
			margin-bottom: 10px;
			img {
				border-radius: inherit;
			}
			@include m(767) {
				width: 132px;
				height: 100%;
				float: left;
			}
		}
		.c-series-list-item__info {
			width: 100%;
			&-name {
				margin-bottom: 9px;
			}
		}
		.c-series-list-item__info-description {
			opacity: 0.8;
			font-size: 10px;
		    margin-top: 9px;
		    @include m(767) {
		    	display: none;
		    }
		}
	}
}
.see-all-videos {
	width: 100%;
	font-size: 1rem;
	line-height: 1.3571rem;
	color: $main-color;
	width: 100%;
	max-width: 285px;
	padding: 11px 0;
	display: inline-block;
	display: none;
	margin: 15px auto 0 auto;
	text-align: center;
	&:hover {
		color: $main-color;
	}
	@include m(767) {
		display: block;
		margin: 9px auto 0 auto;
	}
}