include ../c-series-list/c-series-list

mixin c-recent-receipts(data)
	.recent-wrapper
		.container
			.recent-title-wrapper
				h3.title-middle Последние поступления
				.recent-filters
					a.filter-item.active(href="javascript:void(0)") Все
					a.filter-item(href="javascript:void(0)") Юмор
					a.filter-item(href="javascript:void(0)") Мистика
					a.filter-item(href="javascript:void(0)") Реалити
					a.filter-item(href="javascript:void(0)") Развлекательные
					a.filter-item(href="javascript:void(0)") Шоу талантов
					a.filter-item(href="javascript:void(0)") Красота
					a.filter-item(href="javascript:void(0)") Кулинарные
					a.filter-item(href="javascript:void(0)") Новости
					a.filter-item(href="javascript:void(0)") Познавательные
					a.filter-item(href="javascript:void(0)") Расследования
					a.filter-item(href="javascript:void(0)") Ремонт
					a.filter-item(href="javascript:void(0)") Ток-шоу
					a.filter-item(href="javascript:void(0)") Авто/техника
				.c-one-season__select-wrapper
					select.c-one-season__select(name="order")
						option(value="1") Все
						option(value="2") Юмор
						option(value="3") Мистика
						option(value="4") Реалити
						option(value="5") Развлекательные
						option(value="6") Шоу талантов
						option(value="7") Красота
						option(value="8") Кулинарные
						option(value="9") Новости
						option(value="10") Познавательные
						option(value="11") Расследования
						option(value="12") Ремонт
						option(value="13") Ток-шоу
						option(value="14") Авто/техника
			+c-series-list({
				wrapperclass: 'c-series-list__wrapper-seasons',
				blockclass: 'c-series-list-item__season',
				listitems: [
					{
						image: '7',
						duration: '00:20',
						name: 'Впервые в истории шоу',
						date: '24.07.19',
						views: '456',
						comments: '56',
						description: true,
						descriptiontext: 'Самый главный, самый последний главный'
					},
					{
						image: '8',
						duration: '03:55',
						name: 'Танцы: Саша Горошко (Leela James - Soul Food) (сезон 4, серия 22)',
						date: '24.07.19',
						views: '9 056',
						comments: '56',
						description: true,
						descriptiontext: 'За пару шагов до финала учасника танцор Сергей'
					},
					{
						image: '9',
						duration: '00:20',
						name: 'Танцы: Виталий Уливанов (снзон 4, серия 21)',
						date: '24.07.19',
						views: '456',
						comments: '56',
						description: true,
						descriptiontext: 'За пару шагов до финала учасника танцор Сергей'
					},
					{
						image: '10',
						duration: '04:50',
						name: 'Впервые в истории шоу',
						date: '24.07.19',
						views: '23 111',
						comments: '56',
						description: true,
						descriptiontext: 'За пару шагов до финала учасника танцор Сергей'
					},
					{
						image: '11',
						duration: '02:36',
						name: 'Танцы: Саша Горошко (Leela James - Soul Food) (сезон 4, серия 22)',
						date: '24.07.19',
						views: '9 506',
						comments: '56',
						description: true,
						descriptiontext: 'За пару шагов до финала учасника танцор Сергей'
					},
					{
						image: '7',
						duration: '00:20',
						name: 'Впервые в истории шоу',
						date: '24.07.19',
						views: '456',
						comments: '56',
						description: true,
						descriptiontext: 'Самый главный, самый последний главный'
					},
					{
						image: '8',
						duration: '03:55',
						name: 'Танцы: Саша Горошко (Leela James - Soul Food) (сезон 4, серия 22)',
						date: '24.07.19',
						views: '9 056',
						comments: '56',
						description: true,
						descriptiontext: 'За пару шагов до финала учасника танцор Сергей'
					},
					{
						image: '8',
						duration: '03:55',
						name: 'Танцы: Саша Горошко (Leela James - Soul Food) (сезон 4, серия 22)',
						date: '24.07.19',
						views: '9 056',
						comments: '56',
						description: true,
						descriptiontext: 'За пару шагов до финала учасника танцор Сергей'
					},
					{
						image: '8',
						duration: '03:55',
						name: 'Танцы: Саша Горошко (Leela James - Soul Food) (сезон 4, серия 22)',
						date: '24.07.19',
						views: '9 056',
						comments: '56',
						description: true,
						descriptiontext: 'За пару шагов до финала учасника танцор Сергей'
					},
					{
						image: '8',
						duration: '03:55',
						name: 'Танцы: Саша Горошко (Leela James - Soul Food) (сезон 4, серия 22)',
						date: '24.07.19',
						views: '9 056',
						comments: '56',
						description: true,
						descriptiontext: 'За пару шагов до финала учасника танцор Сергей'
					},
					{
						image: '7',
						duration: '00:20',
						name: 'Впервые в истории шоу',
						date: '24.07.19',
						views: '456',
						comments: '56',
						description: true,
						descriptiontext: 'Самый главный, самый последний главный'
					},
					{
						image: '8',
						duration: '03:55',
						name: 'Танцы: Саша Горошко (Leela James - Soul Food) (сезон 4, серия 22)',
						date: '24.07.19',
						views: '9 056',
						comments: '56',
						description: true,
						descriptiontext: 'За пару шагов до финала учасника танцор Сергей'
					},
					{
						image: '9',
						duration: '00:20',
						name: 'Танцы: Виталий Уливанов (снзон 4, серия 21)',
						date: '24.07.19',
						views: '456',
						comments: '56',
						description: true,
						descriptiontext: 'За пару шагов до финала учасника танцор Сергей'
					},
					{
						image: '10',
						duration: '04:50',
						name: 'Впервые в истории шоу',
						date: '24.07.19',
						views: '23 111',
						comments: '56',
						description: true,
						descriptiontext: 'За пару шагов до финала учасника танцор Сергей'
					},
					{
						image: '11',
						duration: '02:36',
						name: 'Танцы: Саша Горошко (Leela James - Soul Food) (сезон 4, серия 22)',
						date: '24.07.19',
						views: '9 506',
						comments: '56',
						description: true,
						descriptiontext: 'За пару шагов до финала учасника танцор Сергей'
					},
					{
						image: '7',
						duration: '00:20',
						name: 'Впервые в истории шоу',
						date: '24.07.19',
						views: '456',
						comments: '56',
						description: true,
						descriptiontext: 'Самый главный, самый последний главный'
					},
					{
						image: '8',
						duration: '03:55',
						name: 'Танцы: Саша Горошко (Leela James - Soul Food) (сезон 4, серия 22)',
						date: '24.07.19',
						views: '9 056',
						comments: '56',
						description: true,
						descriptiontext: 'За пару шагов до финала учасника танцор Сергей'
					},
					{
						image: '8',
						duration: '03:55',
						name: 'Танцы: Саша Горошко (Leela James - Soul Food) (сезон 4, серия 22)',
						date: '24.07.19',
						views: '9 056',
						comments: '56',
						description: true,
						descriptiontext: 'За пару шагов до финала учасника танцор Сергей'
					},
					{
						image: '8',
						duration: '03:55',
						name: 'Танцы: Саша Горошко (Leela James - Soul Food) (сезон 4, серия 22)',
						date: '24.07.19',
						views: '9 056',
						comments: '56',
						description: true,
						descriptiontext: 'За пару шагов до финала учасника танцор Сергей'
					},
					{
						image: '8',
						duration: '03:55',
						name: 'Танцы: Саша Горошко (Leela James - Soul Food) (сезон 4, серия 22)',
						date: '24.07.19',
						views: '9 056',
						comments: '56',
						description: true,
						descriptiontext: 'За пару шагов до финала учасника танцор Сергей'
					}
				]
			})
			button.load-more Загрузить ещё