mixin c-series-list-item(data)
	each listitem in data.listitems
		.c-series-list-item__wrapper
			a.c-series-list-item__image(href="javascript:void(0)")
				img(src="s/images/tmp_file/series-list/#{listitem.image}.jpg", alt="image")
				span.c-series-list-item__duration= listitem.duration
				+svg('icon-play-control')
			.c-series-list-item__info
				a(href="javascript:void(0)").c-series-list-item__info-name= listitem.name
				.c-series-list-item__info-tag__wrapper
					.c-series-list-item__info-tag
						+svg('icon-calendar')
						span= listitem.date
					.c-series-list-item__info-tag
						+svg('icon-views')
						span= listitem.views