mixin c-best-show(data)
	.bs-wrapper
		.container
			h2.title-big Лучшие телешоу
			.row
				.col-lg-8.col-md-8.col-sm-12.bs-block
					.bs-block-inner.bs-first
						.bs-block-img.h-object-fit
							a(href="javascript:void(0)")
								img(src="s/images/tmp_file/best-show/img1.jpg", alt="img")
						.bs-block-name
							a(href="javascript:void(0)") Бородина против Бузовой
						.bs-block-info
							a(href="javascript:void(0)") 1 сезон ∙ 15 видео
				.col-lg-8.col-md-8.col-sm-12.bs-block
					.bs-block-inner.bs-second
						.bs-block-img
							a.h-object-fit(href="javascript:void(0)")
								img(src="s/images/tmp_file/best-show/img2.jpg", alt="img")
						.bs-block-name
							a(href="javascript:void(0)") Танцы
						.bs-block-info
							a(href="javascript:void(0)") 8 сезонов ∙ 750 видео
				.col-lg-8.col-md-8.col-sm-12.bs-block
					.bs-block-inner.bs-third
						.bs-block-img.h-object-fit
							a(href="javascript:void(0)")
								img(src="s/images/tmp_file/best-show/img3.jpg", alt="img")
						.bs-block-name
							a(href="javascript:void(0)") Comedy Баттл
						.bs-block-info
							a(href="javascript:void(0)") 12 сезонов ∙ 493 видео
				.col-lg-12.col-md-12.col-sm-12.bs-block
					.bs-block-inner.bs-fourth
						.bs-block-img.h-object-fit
							a(href="javascript:void(0)")
								img(src="s/images/tmp_file/best-show/img4.jpg", alt="img")
						.bs-block-name
							a(href="javascript:void(0)") Андрей Малахов
						.bs-block-info
							a(href="javascript:void(0)") 1 сезон ∙ 15 видео
				.col-lg-12.col-md-12.col-sm-24.bs-block
					.bs-block-inner.bs-fifth
						.bs-block-img.h-object-fit
							a(href="javascript:void(0)")
								img(src="s/images/tmp_file/best-show/img5.jpg", alt="img")
						.bs-block-name
							a(href="javascript:void(0)") Подиум
						.bs-block-info
							a(href="javascript:void(0)") 8 сезонов ∙ 750 видео