.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  
.icon-play-control {
  display: block;
  color: rgba(38, 42, 53, 0.97);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .6s ease;
  transition: $transition_duration $transition_type;
  &:hover {
    color: rgba(32, 100, 219, 0.97);
  }
}
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */
  