.c-seasons-video-list {
	position: relative;
	border-radius: 8px;
	padding: 19px 16px;
	background-color: #EFF1F3;
	overflow: hidden;
	&:before {
		content: "";
		height: 2px;
		width: 288px;
		position: absolute;
		top: 58px;
		background-color: #fff;
		z-index: 1;
	}
	.c-series-list__wrapper {
		max-width: 280px;
	}
	.seasons-list {
		margin-bottom: 24px;
		display: flex;
		width: 288px;
		// border-bottom: 2px solid #fff;
		overflow-x: hidden;
		// overflow-y: visible;
		&__item {
			flex-shrink: 0;
			height: 43px;
			text-align: right;
			margin-right: 14px;
			&-title {
				position: relative;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				font-size: 14px;
				height: 43px;
				color: rgba(22, 24, 29, 0.3);
				@extend .cursor-p;
				transition: color .3s;
				&:hover {
					color: rgba(22, 24, 29, 0.5);
				}
			}
			&.current {
				position: relative;
			}
			&.current span {
				color: #16181D;
			}
			&.current:before {
				content: "";
				height: 2px;
				width: 100%;
				position: absolute;
				bottom: 2px;
				background-color: #2064DB;
				z-index: 2;
			}
		}
	}
}

.seasons-video-container {
	display: none;
	&__all-season {
		margin-top: 24px;
		font-size: 14px;
		color: #9197A6;
	}

	.c-series-list__wrapper {
		margin-bottom: 16px;
	}
}

.seasons-video-container.current {
	display: block;
}

.seasons-video-container__all-season:hover {
	color: #2064DB;
}