.c-seasons-video-list {
	border-radius: 8px;
	padding: 24px 16px;
	background-color: #EFF1F3;
	.seasons-list {
		margin-bottom: 24px;
		display: flex;
		&__item {
			border-bottom: 2px solid #fff;
			padding-bottom: 16px;
			flex-shrink: 0;
			&-title {
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				font-size: 14px;
				color: #16181D;
				opacity: 0.3;
			}
			&.active {
				border-bottom: 2px solid #2064DB;
			}
		}
	}
}

.seasons-video-container {
	&__all-season {
		margin-top: 24px;
		font-size: 14px;
		color: #9197A6;
	}
}
