.c-seasons-video-list {
	border-radius: 8px;
	padding: 24px 16px;
	background-color: #EFF1F3;
	.seasons-list {
		margin-bottom: 24px;
		display: flex;
		&__item {
			width: auto;
			padding-bottom: 16px;
			border-bottom: 2px solid #fff;
		    text-align: right;
			&-title {
				position: relative;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				font-size: 14px;
				color: rgba(22, 24, 29, 0.3);
			}
			&.slick-current span:before {
				content: "";
				height: 2px;
				width: 100%;
				position: absolute;
				bottom: -22px;
				background-color: #2064DB;
			}
		}
	}
}

.seasons-video-container {
	display: none;
	&__all-season {
		margin-top: 24px;
		font-size: 14px;
		color: #9197A6;
	}

	.c-series-list__wrapper {
		margin-bottom: 16px;
	}
}

.seasons-video-container.current {
	display: block;
}