mixin footer()
	.c-footer
		.container
			.c-footer__side-wrapper
				.c-footer__side-left
					.c-footer__logo-wrapper
						a(href="main.html")
							img(src="s/images/useful/footer-logo.png", alt="logo")
					.c-footer__image
						img(src="s/images/useful/footer-image.png", alt="footer-image")
				.c-footer__side-right.js-collapse
					.c-footer__accordeon-text
						span.title-small.white-c Та́нцы
						p.c-footer__text Телевизионное шоу, стартовавшее на канале ТНТ 23 августа 2014 года. Участники проекта борются за звание лучшего танцовщика России и главный приз в размере 3 000 000 рублей. В качестве хореографов-наставников выступают Егор Дружинин (1—3 сезоны и «Битва сезонов»), Мигель и Татьяна Денисова (с 4 сезона). Производством шоу занимается компания Comedy Club Production. 22 августа 2015 года на канале ТНТ состоялась премьера второго сезона шоу.
						span.c-footer__title По состоянию на 2017 год, действуют следующие правила:
						ul.c-footer__text.c-footer__ul
							li Принимать участие в шоу могут конкурсанты в возрасте от 16 до 36 лет.
							li Шоу состоит из четырёх этапов: «Кастинги в городах», «Выбор участников проекта», «Конкурсные концерты», «Финал».
							li Победителем признаётся участник, набравший в «Финале» проекта наибольшее количество зрительских голосов.
						.js-collapse-content
							span.c-footer__title Победителем первого сезона конкурса стал Ильшат Шабаев 
							p.c-footer__text Победителем первого сезона конкурса стал Ильшат Шабаев (команда Егора Дружинина), второго — Максим Нестерович (команда Мигеля), «Битвы сезонов» — Антон Пануфник (команда Мигеля), третьего — Дмитрий Щебет (команда Мигеля), четвёртого — Виталий Уливанов (команда Мигеля).
							p.c-footer__text Премьера третьего сезона шоу состоялась на канале ТНТ 20 августа 2016 года. Новые выпуски проекта выходили в эфир по субботам в 21:30, а с 22 октября по 6 ноября 2016 года — по субботам в 21:30 и по воскресеньям в 21:00[1].
							p.c-footer__text 10 декабря 2016 года в 21:30 на ТНТ вышел спецвыпуск «Танцы. Дети», в котором приняли участие танцовщики в возрасте от 9 до 15 лет[2].
							p.c-footer__text 26 июня 2017 года стартовали съёмки четвёртого сезона шоу. Его премьера состоялась на канале ТНТ 19 августа 2017 года. Новые выпуски выходили в эфир по субботам в 21:30.
					a(href="javascript:void(0)").c-footer__read-more-btn.clickToOpen Читать полностью
