.c-footer{
    background-color: $main-blue;
    padding: 0;
    position: relative;
    max-height: 100%;
	height: auto;
	overflow: hidden;
    transition: all .8s ease-in-out;
    &:before, &:after {
        content: '';
        display: block;
        position: absolute;
    }
    &:before {
    	top: 0;
    	right: 0;
    	background-image: url('../../s/images/useful/rectangle-top.png');
    	background-repeat: no-repeat;
    	background-size: cover;
    	height: 334px;
    	width: 334px;
    	@include m(1023) {
    		width: 165px;
    		height: 165px;
    	}
    }
    &:after {
    	top: 151px;
    	left: 0;
    	background-image: url('../../s/images/useful/rectangle-down.png');
    	background-repeat: no-repeat;
    	background-size: cover;
    	height: 236px;
    	width: 229px;
    	@include m(1023) {
    		width: 145px;
    		height: 145px;
    	}
    }
    &__side {
    	&-wrapper {
    		transition: all .8s ease-in-out;
    		display: flex;
    		justify-content: space-between;
	    	@include m(1023) {
				flex-wrap: wrap;
	    	}
	    	@include m(768) {
			    width: 100%;
				max-width: 600px;
				margin: 0 auto;
	    	}
    	}
    	&-left {
    		min-height: inherit;
    		width: 340px;
    		position: relative;
    		padding-top: 62px;
    		@include m(1279) {
    			padding-left: 59px;
    			width: 380px;
    		}
    		@include m(1023) {
    			width: 100%;
    			padding-left: 0;
    		}
    		@include m(768) {
    			padding-top: 31px;
    		}
    	}
    	&-right {
    		width: calc(100% - 340px);
    		padding: 74px 0 64px 0;
    		margin-left: 56px;
    		z-index: 2;
    		@include m(1279) {
    			width: calc(100% - 380px);
    		}
    		@include m(1023) {
    			width: 100%;
    			padding: 46px 0 64px 0;
    		}
    		@include m(768) {
    			margin-left: 0;
    			padding: 38px 0 64px 2px;
    		}
    	}
    }
    &__logo-wrapper {
        .icon-logo-footer {
            font-size: 62px;
            margin-top: -19px;
        }
    	@include m(1279) {
			text-align: center;
            .icon-logo-footer {
				margin-top: -13px;
            }
    	}
        @include m(768) {
			.icon-logo-footer {
				font-size: 36px;
            }
        }
    }
    &__image {
    	position: absolute;
    	bottom: -74px;
    	left: -31px;
    	img {
    		position: relative;
    		z-index: 1;
            height: 453px;
    	}
    	@include m(1279) {
    		left: 0;
    		img {
    			margin-left: 28px;
    		}
    	}
    	@include m(1023) {
    		display: none;
    	}
    }
    &__text {
    	color: rgba(255,255,255,.8);
	    font-size: 1rem;
	    line-height: 1.71rem;
        & + .c-footer__title {
            margin-top: 40px;
            @include m(1023) {
                margin-top: 30px;
            }
        }
	    @include m(768) {
	    	font-size: 13px;
	    }
    }
    &__title {
    	color: #ffffff;
    	font-weight: 600;
    	font-size: 1.142857rem;
    	line-height: 1.571428rem;
    	display: block;
    	margin-bottom: 16px;
    }
    &__ul {
    	padding-left: 18px;
        margin-bottom: 40px;
        @include m(1023) {
            margin-bottom: 30px;
        }
    	li {
    		padding-left: 13px;
    		margin-bottom: 7px;
    	}
    }
    &__accordeon-text {
    	position: relative;
    	transition: all .8s ease-in-out;
    	max-width: 635px;
    	&:after {
    		content: '';
    		position: absolute;
			height: 237px;
			width: 100%;
			display: block;
			left: 0;
			bottom: 0;
			background: linear-gradient(180deg, rgba(32, 100, 219, 0) 0%, #2064DB 95%);
			transition: background .5s ease-in-out;
    	}
    	&.full-height {
    		max-height: 100%;
    		&:after {
    			background: transparent;
    		}
    	}
    	.title-small {
    		margin-bottom: 15px;
    	}
    	@include m(1279) {
    		max-width: 100%;
    	}
    	@include m(1023) {
    		max-width: 588px;
		    width: 100%;
		    margin: 0 auto;
    	}
    	@include m(768) {
    		.title-small {
    			font-size: 1.2rem;
    			margin-bottom: 13px;
    		}
    		&:after {
    			height: 121px;
    			background: linear-gradient(180deg, rgba(32, 100, 219, 0) 0%, #2064DB 72%);
    		}
    	}
    }
    &__read-more-btn {
    	width: 179px;
    	height: 44px;
    	border-radius: 22px;
    	display: block;
    	outline: none;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	color: #fff !important;
    	font-size: 1rem;
    	line-height: 1.35714rem;
    	background-color: rgba(255,255,255,.15);
    	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    	text-decoration: none;
    	&:hover {
            @include mn(1023) {
        		background-color: rgba(255,255,255,.25);
        		color: #fff;
            }
    	}
    	@include m(1023) {
    		margin: 0 auto;
    	}
    	@include m(768) {
    		width: 235px;
    	}
    }
}

.js-collapse-content {
    display: none;
}

.js-collapse_opened {
    .c-footer__accordeon-text:after {
        background: transparent;
    }
}

// footer simple
.footer {
	&-simple {
		height: 80px;
		display: flex;
		justify-content: space-between;
		@media (max-width: $sw-sm-max) {
			flex-wrap: wrap;
			height: auto;
			padding: 8px 0 31px 0;
		}
		@media (max-width: $sw-xs-max) {
			padding: 8px 0 39px 0;
		}
		&-wrap {
			background-color: #16181D;
			position: relative;
			overflow: hidden;
			&:after {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				width: 0;
				height: 0;
				border: 0 solid transparent;
				border-right-width: 0px;
				border-left-width: 33.5vw;
				border-top: 33.5vw solid #1554C4;
				@media (max-width: $sw-md-max) {
					border-left-width: 35.5vw;
					border-top: 35.5vw solid #1554C4;
				}
				@media (max-width: $sw-sm-max) {
					border-left-width: 43.5vw;
					border-top: 43.5vw solid #1554C4;
				}
				@media (max-width: $sw-xs-max) {
					border-left-width: 34.5vw;
					border-top: 34.5vw solid #1554C4;
				}	
			}
			.container {
				position: relative;
				z-index: 1;
			}
		}
	}
	&-logo {
		&-wrap {
			// border: 1px solid red;
			display: inline-flex;
			height: 100%;
			align-items: flex-start;
			padding-top: 11px;
			@media (max-width: $sw-sm-max) {
				width: 100%;
				display: flex;
				height: auto;
				justify-content: center;
				margin-bottom: 24px;
				padding-left: 21px;
			}
			.icon {
				flex-shrink: 0;
				font-size: 41px;
			}
		}
	}
	&-text {
		font-size: 18px;
        color: #ffffff;
        font-weight: 400;
        @media (max-width: $sw-xs-max) {
            font-size: 16px;
        }
		&-wrap {
			// border: 1px solid blue;
			display: flex;
			align-items: center;
			margin-right: auto;
			margin-left: 175px;
			@media (max-width: $sw-md-max) {
				margin-left: 137px;
			}
			@media (max-width: $sw-sm-max) {
				width: 100%;
				margin-left: auto;
				justify-content: center;
				margin-bottom: 16px;
				text-align: center;
			}
			@media (max-width: $sw-xs-max) {
				margin-bottom: 24px;
			}
		}
	}
	&-copy {
		display: flex;
		align-items: center;
		font-size: 14px;
		color: rgba(255,255,255,.5);
		@media (max-width: $sw-sm-max) {
			width: 100%;
			justify-content: center;
		}
	}
}