include ../c-series-block/c-series-block
include ../c-series-list/c-series-list

mixin c-news-today(data)
	section.c-news-today
		.container
			h1.title-big Новинки сегодня
			.c-news-today__wrapper
				+c-series-block()
				+c-series-list({
					listitems: [
						{
							image: '1',
							duration: '00:20',
							name: 'Впервые в истории шоу',
							date: '24 Июня',
							views: '456'
						},
						{
							image: '2',
							duration: '03:55',
							name: 'Танцы: Саша Горошко (Leela James - Soul Food) (сезон 4, серия 22)',
							date: '10 Авг',
							views: '9 056'
						},
						{
							image: '3',
							duration: '00:20',
							name: 'Танцы: Виталий Уливанов (снзон 4, серия 21)',
							date: '1 Янв',
							views: '456'
						},
						{
							image: '4',
							duration: '04:50',
							name: 'Впервые в истории шоу',
							date: '2 Авг',
							views: '23 111'
						},
						{
							image: '5',
							duration: '02:36',
							name: 'ТАНЦЫ. ФИНАЛ: Мигель VS. Денисова',
							date: '30 Апр',
							views: '9 506'
						},
						{
							image: '6',
							duration: '02:59',
							name: 'Танцы: Айхан и Ляйсан Утяшева',
							date: '30 Апр',
							views: '408'
						}
					],
					wrapperclass: 'c-series-list__wrapper',
					blockclass: 'c-series-list-item__simple',
					seeall: true
				})