mixin c-stub(data)
	.stub-wrapper
		.container
			.stub-inner
				.stub-logo
					a(href="main.html")
						+svg('icon-logo-footer')
				.stub-info
					span Скоро здесь появится развлектаельная платформа