extends _includes/_extends/main

include _includes/components/c-hero/c-hero
include _includes/components/c-news-today/c-news-today
include _includes/components/c-popular/c-popular
include _includes/components/c-seasons/c-seasons

block head
	+head({title: 'Home'})

block content
	+c-hero()
	+c-news-today()
	+c-popular()
	.c-seasons__main-wrapper
		.container
			+c-seasons({
				wrapperc: 'c-series-list__wrapper-seasons seasone-5-slider slider-init',
				header: true,
				title: '5 сезон',
				slickcontrolmode: 'slick-control__wrapper_dark',
				leftcontrol: 'control-seasone5-left',
				rightcontrol: 'control-seasone5-right'
			})
			+c-seasons({
				wrapperc: 'c-series-list__wrapper-seasons seasone-4-slider slider-init',
				header: true,
				title: '4 сезон',
				slickcontrolmode: 'slick-control__wrapper_dark',
				leftcontrol: 'control-seasone4-left',
				rightcontrol: 'control-seasone4-right'
			})
			+c-seasons({
				wrapperc: 'c-series-list__wrapper-seasons seasone-3-slider slider-init',
				header: true,
				title: '3 сезон',
				slickcontrolmode: 'slick-control__wrapper_dark',
				leftcontrol: 'control-seasone3-left',
				rightcontrol: 'control-seasone3-right'
			})
			+c-seasons({
				wrapperc: 'c-series-list__wrapper-seasons seasone-2-slider slider-init',
				header: true,
				title: '2 сезон',
				slickcontrolmode: 'slick-control__wrapper_dark',
				leftcontrol: 'control-seasone2-left',
				rightcontrol: 'control-seasone2-right'
			})
			+c-seasons({
				wrapperc: 'c-series-list__wrapper-seasons seasone-1-slider slider-init',
				header: true,
				title: '1 сезон',
				slickcontrolmode: 'slick-control__wrapper_dark',
				leftcontrol: 'control-seasone1-left',
				rightcontrol: 'control-seasone1-right'
			})