extends _includes/_extends/main

include _includes/components/c-hero/c-hero
include _includes/components/c-news-today/c-news-today

block head
	+head({title: 'Home'})

block content
	+c-hero()
	+c-news-today()