extends _includes/_extends/main

include _includes/components/c-seasons-video-list/c-seasons-video-list

block head
	+head({title: 'video'})

block content
	.player-container
		.player
			.player-video
				img(src="s/images/tmp_file/player-img.png", alt="image")
		.container
			.c-news-today__wrapper
				.c-series-block__wrapper
					a.c-series-block__title-href(href="javascript:void(0)")
						span.title-small Танцы: Мигель, хореографы и все учасницы сезона (Ленинград - Рыба) (сезон 4, серия 22)
					.c-series-block__info
						.c-series-block__info__wrapper
							.c-series-block__info_pull-left
								.c-series-block__info-item.date
									+svg('icon-calendar')
									span 24 Июня
								.c-series-block__info-item.views
									+svg('icon-views')
									span 23 982
							.c-series-block__info-item.tag
								a.bordered(href="javascript:void(0)") Танцы (сезон 5)
					p.player-video__descr Эфир: 22.08.2015. Танцы – это не просто увлечение, это целый мир, скрытый в ритме, музыке и пульсации чувств. А танцы на ТНТ это возможность для тех, кто не помышляет о жизни без любимого занятия, сделать его своим призванием. В поисках сильнейших танцоров России новый сезон «Танцев» заехал в Екатеринбург. Здесь жюри ждали как новые, так и уже бывалые участники, а также масса зажигательных, необычных, смешных и грустных танцев в исполнении шестнадцати претендентов на место в основной программе. В первом выпуске нового сезона – слезы разочарования и истерический хохот Мигеля, помолвка, а в концовке одна из самых экстравагантных пар за историю программы. 
					a.player-video__descr-link(href="#") Полностью
					p.player-breadcrambs Главная • Сезон 2
					.player-comments
						img(src="s/images/tmp_file/video-coments.png", alt="image")
				
				.c-list-block__wrapper
					+c-seasons-video-list()
		.banner__wrapper
			img(src="s/images/tmp_file/banner.jpg", alt="banner")