mixin header(data)
	header.c-header.js-header
		.container
			if data.header_first
				.c-header-main__wrapper
					.logo__wrapper
						a(href="main.html")
							+svg('icon-logo')
							//- img.logo(src="s/images/useful/logo.svg", alt="logo")
					.c-header-pagination
						span.c-header-pagination__text Сезоны:
						a(href="javascript:void(0)").c-header-pagination__item.active 1
						a(href="javascript:void(0)").c-header-pagination__item 2
						a(href="javascript:void(0)").c-header-pagination__item 3
						a(href="javascript:void(0)").c-header-pagination__item 4
						a(href="javascript:void(0)").c-header-pagination__item 5
					.c-header-links__wrapper
						a(href="javascript:void(0)") Новинки
						a.active(href="javascript:void(0)") Все видео
			if data.header_second
				.c-header-main__wrapper
					.logo__wrapper
						a(href="main.html")
							+svg('icon-logo')
							//- img.logo(src="s/images/useful/logo.svg", alt="logo")
					.c-header-info-text
						.c-header-text
							span Ваш партнер в мире развлекательных шоу
						.c-header-info
							span Более 346 902 видео на ресурсе