.c-popular {
	&__wrapper {
		background-color: $main-color;
		padding: 72px 0 0 0;
		.control-popular-left {
			padding-left: 2px;
		}
		.control-popular-right {
			padding-left: 2px;
		}
		.title-wrapper {
			margin-bottom: 46px;
		}
		@include m(1279) {
			.title-wrapper {
				margin-bottom: 40px;
			}
		}
		@include m(1023) {
			padding: 46px 0 0 0;
			.title-wrapper {
				margin-bottom: 34px;
			}
		}
		@include m(767) {
			padding: 23px 0 0 0;
			.title-wrapper {
				margin-bottom: 25px;
			}
		}
		@include mn(768) {
			.slick-control__wrapper {
				display: none;
			}
		}
	}
}
.banner__wrapper {
	width: 100%;
	max-width: 1280px;
	height: 130px;
	margin: 44px auto 0 auto;
	text-align: center;
	display: flex;
	align-items: flex-bottom;
	justify-content: center;
	@include m(1279) {
		max-width: 1024px;
		margin: 31px auto 0 auto;
	}
	@include m(1023) {
		margin: 40px auto 0 auto;
	}
	@include m(767) {
		margin: 33px auto 0 auto;
	}
	.banner-large {
		display: block;
		@include m(1279) {
			display: none;
		}
	}
	.banner-1024 {
		display: none;
		@include m(1279) {
			display: block;
		}
		@include m(1023) {
			display: none;
		}
	}
	.banner-768 {
		display: none;
		@include m(1023) {
			display: block;
		}
		@include m(767) {
			display: none;
		}
	}
	.banner-232 {
		display: none;
		@include m(767) {
			display: block;
		}
	}
}
