include ../c-series-list/c-series-list

mixin c-popular(data)
	section.c-popular__wrapper(class='' + data.sectionnewclass ? data.sectionnewclass : '')
		.container
			.title-wrapper
				h2.title-middle.white-c Популярное
				if data.oneseasonecontrols
					.c-seasons__header
						.c-seasons__buttons-wrapper
							.slick-control__wrapper(class='' + data.slickcontrolmode ? data.slickcontrolmode : '')
								.slick-control-left(class='' + data.leftcontrolclass)
									+svg('icon-slick-control')
								.slick-control-right(class='' + data.rightcontrolclass)
									+svg('icon-slick-control') 
			+c-series-list({
				listitems: data.items,
				wrapperclass: data.wrapperclassitems,
				blockclass: 'c-series-list-item__popular',
				leftcontrol: 'control-popular-left',
				rightcontrol: 'control-popular-right',
				slickcontrol: data.slickcontrol,
				seeall: false
			})
		.banner__wrapper
			img.banner-large(src="s/images/tmp_file/banner.jpg", alt="banner")
			img.banner-1024(src="s/images/tmp_file/banner-1024.jpg", alt="banner")
			img.banner-768(src="s/images/tmp_file/banner-768.jpg", alt="banner")
			img.banner-232(src="s/images/tmp_file/banner-232.jpg", alt="banner")