mixin c-404(data)
	.error-wrapper
		.container
			.error-inner
				+svg('icon-frames')
				span.error-main-text Ошибка!
				span.error-secondary-text Запрашиваемой вами страницы нет у нас на сайте!
				a.error-btn(href="javascript:void(0)") Скорее домой