.error {
    &-wrapper {
        background-color: $main-blue;
        min-height: calc(100vh - 80px);
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $sw-sm-max) {
            min-height: calc(100vh - 248px);
        }
        @media (max-width: $sw-xs-max) {
            min-height: calc(100vh - 284px);
        }
    }
    &-inner {
        width: 100%;
        max-width: 540px;
        margin: 64px auto 72px auto;
        .icon-frames {
            font-size: 48px;
            margin-bottom: 31px;
        }
    }
    &-main-text, &-secondary-text {
        display: block;
        width: 100%;
        color: #ffffff;
    }
    &-main-text {
        margin-bottom: 18px;
        font-size: 32px;
        font-weight: 800;
        text-transform: uppercase;
    }
    &-secondary-text {
        font-size: 14px;
        margin-bottom: 24px;
    }
    &-btn {
        height: 44px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 41px;
        color: #ffffff;
        font-size: 14px;
        background-color: rgba(255,255,255,.15);
        border-radius: 22px;
        transition: background-color .3s ease;
        &:hover {
            color: #fff;
            @media (min-width: $sw-sm-min) {
                background-color: rgba(255,255,255,.25);
            }
        }
    }
}